.btn {
    margin: 0 16px 0 0;
    padding: 10px 11px 9px 9px;
    font-size: 18px;
    font-weight: 700;
    color: #7AAAAA;
    background-color: #EFF5F4;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in;
}

.btn:hover {
    color: #EFFFFF;
    background-color: #5EA4A3;
}



@media (max-width: 550px) {
    .btn {
        margin: 0 10px 10px 0;
    }
}