.filter {
    margin: 0 0 40px 0;
    padding: 20px 40px 20px 40px;
    display: flex;
    overflow: hidden;
    max-width: 1070px;
    background-color: #fff;
    border-radius: 4px;
    top: -110px;
    box-shadow: 0px 11px 40px -22px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 0px 11px 40px -22px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 11px 40px -22px rgba(0, 0, 0, 0.65);
}

.filterList {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

.filterItem {
    margin: 0 16px 0 0;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: #EEF8F5;
    border-radius: 3px;
}

.filterText {
    padding: 10px 12px 11px 9px;
    font-size: 18px;
    font-weight: 700;
    color: #5DA4A5;
}

.btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5DA4A5;
    transition: 0.3s ease-in;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn:hover {
    background-color: #2B3A3B;

}

.cross {
    color: #FAFBFC;
    stroke-width: 2;
}

.clearBtn {
    margin: 0 0 0 0;
    font-size: 18px;
    font-weight: 700;
    color: #899090;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.clearBtn:hover {
    color: #5DA4A5;

    &::after {
        position: absolute;
        bottom: 7px;
        right: 0;
        width: 43px;
        height: 1px;
        content: '';
        background-color: #899090;
        background-color: #5DA4A5;
    }
}

@media (max-width: 550px) {

    .filter {
        top: -180px;
    }

    .filterList {
        flex-wrap: wrap;
    }

    .filterItem {
        margin: 0 16px 10px 0;
    }
}