.jobItem {
    padding: 32px 40px 35px 35px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0px 11px 40px -22px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 11px 40px -22px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 11px 40px -22px rgba(0,0,0,0.65);
}

.jobItemRightBorder {
    border-left: 5px solid #5DA5A3;
}



.jobItem:not(:last-child) {
    margin: 0 0 24px 0;
}

.jobItemLeftContent {
    display: flex;
    flex: 1 1 auto;
}

.textContent {
    display: flex;
    flex-direction: column;
}

.img {
    margin: 0 24px 0 0;
    border-radius: 50px;
    width: 88px;
    height: 88px;
}

.leftContentTop {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
}

.companyName {
    margin: 0 17px 0 0;
    font-size: 18px;
    font-weight: 700;
    color: #73ABA9;
}

.new {
    margin: 0 8px 0 0;
    padding: 7px 9px 6px 9px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #73ABA9;
    border-radius: 10px;
}

.featured {
    margin: 0;
    padding: 7px 10px 6px 8px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #283636;
    border-radius: 11px;
}

.leftContentMiddle {
    margin: 0 0 18px 0;
    display: flex;
} 

.position {
    margin: 0 0 0 0;
    color: #333F3D;
    font-weight: 700;
    font-size: 22px;
}

.leftContentBottom {
    display: flex;
    align-items: center;
}

.postedAt {
    margin: 0 43px 0 0;
    font-size: 16px;
    font-weight: 500;
    color: #7E8887;
    position: relative;
}

.postedAt::after {
    position: absolute;
    top: 5px;
    right: -20px;
    width: 4px;
    height: 4px;
    content: '';
    background-color: #7E8887;
    border-radius: 50%;
}

.contract {
    margin: 0 43px 0 0;
    font-size: 16px;
    font-weight: 500;
    color: #7E8887;
    position: relative;
}

.contract::after {
    position: absolute;
    top: 5px;
    right: -20px;
    width: 4px;
    height: 4px;
    content: '';
    background-color: #7E8887;
    border-radius: 50%;
}

.location {
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: 500;
    color: #7E8887;
}

.jobitemRightContent {}
